*{
	padding:0rem;margin:0rem;list-style:none;text-decoration: none;
}
 article{

 }
.imgs{
	width:95%; 
}
.box{
	width:95%; 
 	text-align: center;padding-bottom:10px;
 }
.box a{
	font-size:16px;color:#333;
}